<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose">
            <h4 class="card-title">La liste des entreprises</h4>
          </div>
          <button mat-raised-button (click)="openDialog()">Ajouter une entreprise</button>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field >
                <input matInput (keyup)="applyFilter($event)"  placeholder="Recherche..." #input>
              </mat-form-field>
            </div>
          </div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef> Entreprise </th>
              <td mat-cell *matCellDef="let entreprise"> {{entreprise?.nom}} </td>
            </ng-container>
            <ng-container matColumnDef="login">
              <th mat-header-cell *matHeaderCellDef> Login </th>
              <td mat-cell *matCellDef="let entreprise"> {{entreprise?.email}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="suspendu">
              <th mat-header-cell *matHeaderCellDef> Suspendue </th>
              <td mat-cell *matCellDef="let entreprise">{{entreprise?.suspendu}}</td>
            </ng-container>
            <ng-container matColumnDef="active">
              <th mat-header-cell *matHeaderCellDef> Activée </th>
              <td mat-cell *matCellDef="let entreprise">{{entreprise?.actevated}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="update">
              <th mat-header-cell *matHeaderCellDef> Modifier </th>
              <td mat-cell *matCellDef="let entreprise">
                <button mat-icon-button color="accent" (click)="redirectToUpdate(entreprise.id)">
                  <mat-icon class="mat-18">system_update</mat-icon>
                </button>
              </td>
            </ng-container>


            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> suprimer </th>
              <td mat-cell *matCellDef="let entreprise">
                <button mat-icon-button color="warn" (click)="redirectToDelete(entreprise.id)">
                  <mat-icon class="mat-18">delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Pas de donnée "{{input.value}}"</td>
            </tr>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
